In [1]:
#Librerias
import pandas as pd
import numpy as np

In [2]:
#Leer archivos .xlsx
homicidios_hechos = pd.read_excel("data/homicidios.xlsx", sheet_name="HECHOS")
homicidios_victimas = pd.read_excel("data/homicidios.xlsx", sheet_name="VICTIMAS")

                                                HOMICIDIOS_HECHOS

In [3]:
homicidios_hechos

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,17,AV. RIESTRA Y MOM,AVENIDA,...,NaN,MOM,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,...,NaN,LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0,AV. GAONA Y TERRADA,AVENIDA,...,NaN,TERRADA,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,...,4071.0,NaN,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6,PADRE CARLOS MUJICA 709,CALLE,...,709.0,NaN,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO

In [4]:
#Informacion y ver que tal los nulos
homicidios_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [5]:
#Ver los nulos
homicidios_hechos.isnull().sum()

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Altura                   567
Cruce                    171
Dirección Normalizada      8
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO                    0
dtype: int64

In [6]:
# Se elimina la columna "Altura"
homicidios_hechos= homicidios_hechos.drop("Altura", axis=1)
homicidios_hechos.columns

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO'],
      dtype='object')

In [7]:
#Duplicados?
homicidios_hechos.duplicated().sum()

0

In [8]:
# Cambio el dato horas  a tipo de dato numerico y luego a entero 
homicidios_hechos["HH"] = pd.to_numeric(homicidios_hechos ["HH"], errors="coerce")
homicidios_hechos["HH"] = homicidios_hechos["HH"].astype("Int64")

In [9]:
#Cambio la primer letra a mayúscula
homicidios_hechos.columns = [x.capitalize() for x in homicidios_hechos.columns]

                    HOMICIDIOS_VICTIMAS

In [10]:
homicidios_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [11]:
#Cambio la primer letra a mayúscula
homicidios_hechos.columns = [x.capitalize() for x in homicidios_hechos.columns]
# Reemplazo guiones por espacios
homicidios_hechos.columns = homicidios_hechos.columns.str.replace("_", " ")
#Renombra columnas 
homicidios_hechos= homicidios_hechos.rename(columns={"N victimas": "Num víctimas",
                                            "Aaaa": "Año",
                                            "Mm":"Mes",
                                            "Dd": "Día",
                                            "Hora": "Hora completa",
                                            "Hh": "Hora"}) 

homicidios_hechos.columns

Index(['Id', 'Num víctimas', 'Fecha', 'Año', 'Mes', 'Día', 'Hora completa',
       'Hora', 'Lugar del hecho', 'Tipo de calle', 'Calle', 'Cruce',
       'Dirección normalizada', 'Comuna', 'Xy (caba)', 'Pos x', 'Pos y',
       'Participantes', 'Victima', 'Acusado'],
      dtype='object')

In [12]:
#Creo una columna nueva `Día semana` que contenga el nombre del día de la semana
homicidios_hechos["Día semana"] = homicidios_hechos["Fecha"].dt.strftime("%A")

#Creo un diccionario para modificar a español los nombres de los dás de la semana y lo aplico a la columna nueva
dic={  "Friday":"Viernes",
       "Saturday": "Sabado",
       "Sunday": "Domingo",  
       "Thursday": "Jueves",
        "Monday": "Lunes",
        "Wednesday": "Miercoles",
       "Tuesday": "Martes"}
homicidios_hechos["Día semana"] =homicidios_hechos["Día semana"].replace(dic)

In [13]:
#Cambio la columna a tipo datetime
homicidios_victimas["FECHA_FALLECIMIENTO"] = pd.to_datetime(homicidios_victimas["FECHA_FALLECIMIENTO"], format="%Y-%m-%d", errors="coerce")

In [14]:
#Cambio la columna edad a numerico y luego a tipo entero
homicidios_victimas ["EDAD"] = pd.to_numeric(homicidios_victimas["EDAD"], errors="coerce")
homicidios_victimas ["EDAD"] = homicidios_victimas["EDAD"].astype("Int64")

In [15]:
#Utilizo Numpy para reemplazar por NaN los sin datos o vacios y luego paso a float para que cuando quiera aplicar estadisticas no tenga errores debido a esos datos
homicidios_victimas["EDAD"] = homicidios_victimas["EDAD"].replace([" ","SD"], np.nan)

In [16]:
homicidios_victimas["EDAD"] = homicidios_victimas["EDAD"].fillna(0.0)

In [17]:
#Controlo los datos de la columna
homicidios_victimas ["EDAD"].unique()

<IntegerArray>
[19, 70, 30, 18, 29, 22, 16, 59, 65, 34, 41, 50, 38, 21, 52, 36, 20, 54,  0,
 56, 24, 78, 79, 26, 57, 37, 58, 23, 60, 42, 53, 51, 40, 87, 76, 75, 35, 80,
 43, 45, 67, 27, 55, 49, 81, 25, 33, 46, 83, 39, 28,  7, 48,  4, 82, 32, 17,
 47, 61, 10, 95, 73, 84, 66, 85,  1, 15, 13, 77, 44, 31, 62, 74, 71, 11, 86,
 69, 72, 12, 63, 92, 68, 91, 64,  5, 88]
Length: 86, dtype: Int64

In [18]:
# Se utiliza la función `pd.cut()`, que permite agrupar valores numéricos en intervalos o categorías


# Definir los límites de los rangos etarios y las etiquetas
bins = [0, 20, 40, 60, 80, 100]
labels = ["Menos de 20", " Entre 21- 40", "Entre 41-60", "Entre 61-80", "Más de 80"]

# Utilizar pd.cut() para crear la columna de rango etario
homicidios_victimas["Rango_etario"] = pd.cut(homicidios_victimas["EDAD"], bins=bins, labels=labels, right=False)

homicidios_victimas.head(3)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO,Rango_etario
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01,Menos de 20
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02,Entre 61-80
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03,Entre 21- 40

In [19]:
# Se coloca la primera en mayúscula
homicidios_victimas.columns = [x.capitalize() for x in homicidios_victimas.columns]
# Se reemplazan los guiones por espacios
homicidios_victimas.columns = homicidios_victimas.columns.str.replace("_", " ")
# Se renombran algunas columnas
homicidios_victimas = homicidios_victimas.rename(columns={"Id hecho": "Id",
                                                      "Aaaa":"Año",
                                                      "Mm":"Mes",
                                                      "Dd":"Día",
                                                      "Victima":"Víctima"})
homicidios_victimas.columns

Index(['Id', 'Fecha', 'Año', 'Mes', 'Día', 'Rol', 'Víctima', 'Sexo', 'Edad',
       'Fecha fallecimiento', 'Rango etario'],
      dtype='object')

In [20]:
# Se coloca la primera en mayúscula
homicidios_victimas.columns = [x.capitalize() for x in homicidios_victimas.columns]
homicidios_victimas.columns

Index(['Id', 'Fecha', 'Año', 'Mes', 'Día', 'Rol', 'Víctima', 'Sexo', 'Edad',
       'Fecha fallecimiento', 'Rango etario'],
      dtype='object')

In [21]:
# Se eliminan las columnas repetidas
homicidios_victimas = homicidios_victimas.drop(["Fecha", "Año", "Mes", "Día", "Víctima"], axis=1)
homicidios_victimas.columns

Index(['Id', 'Rol', 'Sexo', 'Edad', 'Fecha fallecimiento', 'Rango etario'], dtype='object')

In [22]:
#Renombro la columna para juntarlas
homicidios_victimas = homicidios_victimas.rename(columns={"Id_hecho": "Id"})

In [23]:
siniestros= homicidios_victimas.merge(homicidios_hechos, on="Id", how="left")
siniestros.columns

Index(['Id', 'Rol', 'Sexo', 'Edad', 'Fecha fallecimiento', 'Rango etario',
       'Num víctimas', 'Fecha', 'Año', 'Mes', 'Día', 'Hora completa', 'Hora',
       'Lugar del hecho', 'Tipo de calle', 'Calle', 'Cruce',
       'Dirección normalizada', 'Comuna', 'Xy (caba)', 'Pos x', 'Pos y',
       'Participantes', 'Victima', 'Acusado', 'Día semana'],
      dtype='object')

In [24]:
siniestros.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 717 entries, 0 to 716
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     717 non-null    object
 1   Rol                    717 non-null    object
 2   Sexo                   717 non-null    object
 3   Edad                   717 non-null    Int64
 4   Fecha fallecimiento    648 non-null    datetime64[ns]
 5   Rango etario           717 non-null    category
 6   Num víctimas           717 non-null    int64
 7   Fecha                  717 non-null    datetime64[ns]
 8   Año                    717 non-null    int64
 9   Mes                    717 non-null    int64
 10  Día                    717 non-null    int64
 11  Hora completa          717 non-null    object
 12  Hora                   716 non-null    Int64
 13  Lugar del hecho        717 non-null    object
 14  Tipo de calle          717 non-null    object
 15  Calle                  716 non-null    object
 16  Cruce                  540 non-null    object
 17  Dirección normalizada  708 non-null    object
 18  Comuna                 717 non-null    int64
 19  Xy (caba)              717 non-null    object
 20  Pos x                  717 non-null    object
 21  Pos y                  717 non-null    object
 22  Participantes          717 non-null    object
 23  Victima                717 non-null    object
 24  Acusado                717 non-null    object
 25  Día semana             717 non-null    object
dtypes: Int64(2), category(1), datetime64[ns](2), int64(5), object(16)
memory usage: 147.9+ KB

In [25]:
#Num víctimas
siniestros ["Num víctimas"] = siniestros ["Num víctimas"].fillna(0.0)
siniestros ["Num víctimas"] = siniestros ["Num víctimas"].astype ("Int64")

In [26]:
siniestros["Num víctimas"].unique()

<IntegerArray>
[1, 2, 3]
Length: 3, dtype: Int64

In [27]:
#Años
siniestros ["Año"]= siniestros ["Año"].astype ("Int64")
siniestros["Año"].unique()

<IntegerArray>
[2016, 2017, 2018, 2019, 2020, 2021]
Length: 6, dtype: Int64

In [28]:
#Mes
siniestros ["Mes"]= siniestros ["Mes"].astype ("Int64")
siniestros["Mes"].unique()

<IntegerArray>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Length: 12, dtype: Int64

In [29]:
#Dias
siniestros ["Día"]= siniestros ["Día"].astype ("Int64")
siniestros["Día"].unique()

<IntegerArray>
[ 1,  2,  3, 10, 21, 24, 29,  8, 14, 15, 17, 28,  4, 12, 13, 19, 23, 30, 31,
 11, 20, 22, 25, 26, 16, 18, 27,  7,  9,  5,  6]
Length: 31, dtype: Int64

In [30]:
siniestros.describe()

,Edad,Num víctimas,Año,Mes,Día,Hora,Comuna
count,717.000000,717.000000,717.000000,717.000000,717.000000,716.000000,717.000000
mean,39.050209,1.061367,2018.174338,6.688982,15.953975,11.554469,7.430962
std,22.010669,0.257024,1.672655,3.575140,8.674876,6.700055,4.385067
min,0.000000,1.000000,2016.000000,1.000000,1.000000,0.000000,0.000000
25%,24.000000,1.000000,2017.000000,4.000000,9.000000,6.000000,4.000000
50%,35.000000,1.000000,2018.000000,7.000000,16.000000,11.000000,8.000000
75%,55.000000,1.000000,2019.000000,10.000000,23.000000,17.000000,11.000000
max,95.000000,3.000000,2021.000000,12.000000,31.000000,23.000000,15.000000

In [31]:
siniestros.columns

Index(['Id', 'Rol', 'Sexo', 'Edad', 'Fecha fallecimiento', 'Rango etario',
       'Num víctimas', 'Fecha', 'Año', 'Mes', 'Día', 'Hora completa', 'Hora',
       'Lugar del hecho', 'Tipo de calle', 'Calle', 'Cruce',
       'Dirección normalizada', 'Comuna', 'Xy (caba)', 'Pos x', 'Pos y',
       'Participantes', 'Victima', 'Acusado', 'Día semana'],
      dtype='object')

In [32]:
#Creo una lista con el orden 
nuevo_orden=["Id", "Fecha", "Año", "Mes", "Día","Día semana", "Hora completa", "Hora", "Num víctimas", "Participantes", "Rol", "Acusado", "Victima", "Sexo", "Edad", "Rango etario", "Fecha fallecimiento", "Lugar del hecho", "Tipo de calle", "Calle", "Cruce", "Dirección normalizada", "Comuna", "Xy (caba)", "Pos x", "Pos y"]

#Reorganizo el dataframe untilizando la lista y asignandola nuevamente aldataframe siniestros
siniestros_limpio = siniestros[nuevo_orden]
siniestros_limpio.columns

Index(['Id', 'Fecha', 'Año', 'Mes', 'Día', 'Día semana', 'Hora completa',
       'Hora', 'Num víctimas', 'Participantes', 'Rol', 'Acusado', 'Victima',
       'Sexo', 'Edad', 'Rango etario', 'Fecha fallecimiento',
       'Lugar del hecho', 'Tipo de calle', 'Calle', 'Cruce',
       'Dirección normalizada', 'Comuna', 'Xy (caba)', 'Pos x', 'Pos y'],
      dtype='object')

In [33]:
siniestros_limpio.head(3)

,Id,Fecha,Año,Mes,Día,Día semana,Hora completa,Hora,Num víctimas,Participantes,...,Fecha fallecimiento,Lugar del hecho,Tipo de calle,Calle,Cruce,Dirección normalizada,Comuna,Xy (caba),Pos x,Pos y
0,2016-0001,2016-01-01,2016,1,1,Viernes,04:00:00,4,1,MOTO-AUTO,...,2016-01-01,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022
1,2016-0002,2016-01-02,2016,1,2,Sabado,01:15:00,1,1,AUTO-PASAJEROS,...,2016-01-02,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709
2,2016-0003,2016-01-03,2016,1,3,Domingo,07:00:00,7,1,MOTO-AUTO,...,2016-01-03,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362

In [34]:
siniestros_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 717 entries, 0 to 716
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     717 non-null    object
 1   Fecha                  717 non-null    datetime64[ns]
 2   Año                    717 non-null    Int64
 3   Mes                    717 non-null    Int64
 4   Día                    717 non-null    Int64
 5   Día semana             717 non-null    object
 6   Hora completa          717 non-null    object
 7   Hora                   716 non-null    Int64
 8   Num víctimas           717 non-null    Int64
 9   Participantes          717 non-null    object
 10  Rol                    717 non-null    object
 11  Acusado                717 non-null    object
 12  Victima                717 non-null    object
 13  Sexo                   717 non-null    object
 14  Edad                   717 non-null    Int64
 15  Rango etario           717 non-null    category
 16  Fecha fallecimiento    648 non-null    datetime64[ns]
 17  Lugar del hecho        717 non-null    object
 18  Tipo de calle          717 non-null    object
 19  Calle                  716 non-null    object
 20  Cruce                  540 non-null    object
 21  Dirección normalizada  708 non-null    object
 22  Comuna                 717 non-null    int64
 23  Xy (caba)              717 non-null    object
 24  Pos x                  717 non-null    object
 25  Pos y                  717 non-null    object
dtypes: Int64(6), category(1), datetime64[ns](2), int64(1), object(16)
memory usage: 150.7+ KB

In [35]:
siniestros_limpio["Fecha"]=siniestros_limpio["Fecha"].dt.date

In [36]:
siniestros_limpio.to_csv("CSV/siniestos.csv", index=False)

In [37]:
siniestros_limpio

,Id,Fecha,Año,Mes,Día,Día semana,Hora completa,Hora,Num víctimas,Participantes,...,Fecha fallecimiento,Lugar del hecho,Tipo de calle,Calle,Cruce,Dirección normalizada,Comuna,Xy (caba),Pos x,Pos y
0,2016-0001,2016-01-01,2016,1,1,Viernes,04:00:00,4,1,MOTO-AUTO,...,2016-01-01,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022
1,2016-0002,2016-01-02,2016,1,2,Sabado,01:15:00,1,1,AUTO-PASAJEROS,...,2016-01-02,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709
2,2016-0003,2016-01-03,2016,1,3,Domingo,07:00:00,7,1,MOTO-AUTO,...,2016-01-03,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362
3,2016-0004,2016-01-10,2016,1,10,Domingo,00:00:00,0,1,MOTO-SD,...,NaT,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974
4,2016-0005,2016-01-21,2016,1,21,Jueves,05:20:00,5,1,MOTO-PASAJEROS,...,2016-02-01,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,2021-0092,2021-12-12,2021,12,12,Domingo,06:20:00,6,1,PEATON-AUTO,...,2021-12-12,AV. RIVADAVIA Y AV. PUEYRREDON,AVENIDA,RIVADAVIA AV.,PUEYRREDON AV.,RIVADAVIA AV. y PUEYRREDON AV.,3,Point (105258.35368554 102122.93231400),-58.40596860,-34.61011987
713,2021-0093,2021-12-13,2021,12,13,Lunes,17:10:00,17,1,MOTO-AUTO,...,2021-12-18,AV. RIESTRA Y MOM,AVENIDA,RIESTRA AV.,MOM,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636
714,2021-0094,2021-12-20,2021,12,20,Lunes,01:10:00,1,1,MOTO-AUTO,...,2021-12-20,AU DELLEPIANE Y LACARRA,AUTOPISTA,"DELLEPIANE, LUIS, TTE. GRAL.",LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757
715,2021-0095,2021-12-30,2021,12,30,Jueves,00:43:00,0,1,MOTO-CARGAS,...,2022-01-02,AV. GAONA Y TERRADA,AVENIDA,GAONA AV.,TERRADA,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745
716,2021-0096,2021-12-15,2021,12,15,Miercoles,10:30:00,10,1,AUTO-CARGAS,...,2021-12-20,AV. EVA PERON 4071,AVENIDA,"PERON, EVA AV.",NaN,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673

#   KPI 1

In [38]:
#Importo librerias
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [39]:
#Leo el .csv
siniestros = pd.read_csv("CSV/siniestos.csv")
siniestros

,Id,Fecha,Año,Mes,Día,Día semana,Hora completa,Hora,Num víctimas,Participantes,...,Fecha fallecimiento,Lugar del hecho,Tipo de calle,Calle,Cruce,Dirección normalizada,Comuna,Xy (caba),Pos x,Pos y
0,2016-0001,2016-01-01,2016,1,1,Viernes,04:00:00,4.0,1,MOTO-AUTO,...,2016-01-01,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022
1,2016-0002,2016-01-02,2016,1,2,Sabado,01:15:00,1.0,1,AUTO-PASAJEROS,...,2016-01-02,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709
2,2016-0003,2016-01-03,2016,1,3,Domingo,07:00:00,7.0,1,MOTO-AUTO,...,2016-01-03,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362
3,2016-0004,2016-01-10,2016,1,10,Domingo,00:00:00,0.0,1,MOTO-SD,...,NaN,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974
4,2016-0005,2016-01-21,2016,1,21,Jueves,05:20:00,5.0,1,MOTO-PASAJEROS,...,2016-02-01,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,2021-0092,2021-12-12,2021,12,12,Domingo,06:20:00,6.0,1,PEATON-AUTO,...,2021-12-12,AV. RIVADAVIA Y AV. PUEYRREDON,AVENIDA,RIVADAVIA AV.,PUEYRREDON AV.,RIVADAVIA AV. y PUEYRREDON AV.,3,Point (105258.35368554 102122.93231400),-58.40596860,-34.61011987
713,2021-0093,2021-12-13,2021,12,13,Lunes,17:10:00,17.0,1,MOTO-AUTO,...,2021-12-18,AV. RIESTRA Y MOM,AVENIDA,RIESTRA AV.,MOM,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636
714,2021-0094,2021-12-20,2021,12,20,Lunes,01:10:00,1.0,1,MOTO-AUTO,...,2021-12-20,AU DELLEPIANE Y LACARRA,AUTOPISTA,"DELLEPIANE, LUIS, TTE. GRAL.",LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757
715,2021-0095,2021-12-30,2021,12,30,Jueves,00:43:00,0.0,1,MOTO-CARGAS,...,2022-01-02,AV. GAONA Y TERRADA,AVENIDA,GAONA AV.,TERRADA,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745
716,2021-0096,2021-12-15,2021,12,15,Miercoles,10:30:00,10.0,1,AUTO-CARGAS,...,2021-12-20,AV. EVA PERON 4071,AVENIDA,"PERON, EVA AV.",NaN,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673

In [40]:
#Hago una copia para despues usar el mismo con el kpi_2
kpi_1 = siniestros.copy()

In [41]:
#Hago el semestre
kpi_1["SEMESTRE"] = (kpi_1["Mes"] - 1) // 6 + 1

In [42]:
#Agrupo Año y Semestre con el numero de victimas
#kpi_1 = kpi_1.groupby(["Año", "SEMESTRE"]).size().reset_index(name="Num víctimas")
kpi_1 = kpi_1.groupby(["Año", "SEMESTRE"])["Num víctimas"].sum().reset_index(name="Total víctimas por semestre")

In [43]:
#El semestre anterior lo hago con shift(), mueve el numero de victimas uno mas y si es el primero con fill_value=0 le agrega 0
kpi_1["SEMESTRE_ANTERIOR"] = kpi_1["Total víctimas por semestre"].shift(periods=1, fill_value=0)

In [44]:
#Hago las Tasas, con la formula que esta en el repo.
#La cantidad de personas lo saque de un senso.
kpi_1["TASA_HOMICIDIOS"] = (kpi_1["Total víctimas por semestre"]/3120612) * 100000
kpi_1["TASA_SEMESTRE_ANTERIOR"] = (kpi_1["SEMESTRE_ANTERIOR"]/3120612) * 100000

In [45]:
#Hago una columna llamada variacion con las Tasas, es el porcentaje de que tanto cambiaron de un semestre a otro.

#kpi_1["VARIACION"] = (kpi_1["Total víctimas por semestre"] - kpi_1["SEMESTRE_ANTERIOR"]) / kpi_1["SEMESTRE_ANTERIOR"] * 100
kpi_1["VARIACION"] = ((kpi_1["TASA_HOMICIDIOS"] - kpi_1["TASA_SEMESTRE_ANTERIOR"]) / kpi_1["TASA_SEMESTRE_ANTERIOR"]) * 100

In [46]:
kpi_1

,Año,SEMESTRE,Total víctimas por semestre,SEMESTRE_ANTERIOR,TASA_HOMICIDIOS,TASA_SEMESTRE_ANTERIOR,VARIACION
0,2016,1,67,0,2.147015,0.000000,inf
1,2016,2,83,67,2.659735,2.147015,23.880597
2,2017,1,81,83,2.595645,2.659735,-2.409639
3,2017,2,79,81,2.531555,2.595645,-2.469136
4,2018,1,76,79,2.435420,2.531555,-3.797468
5,2018,2,85,76,2.723825,2.435420,11.842105
6,2019,1,59,85,1.890655,2.723825,-30.588235
7,2019,2,47,59,1.506115,1.890655,-20.338983
8,2020,1,31,47,0.993395,1.506115,-34.042553
9,2020,2,56,31,1.794520,0.993395,80.645161
10,2021,1,55,56,1.762475,1.794520,-1.785714
11,2021,2,42,55,1.345890,1.762475,-23.636364

In [47]:
#Guardo
kpi_1.to_csv("CSV/kpi_1.csv", index=False)

# KPI 2

In [48]:
#Repito pero con el repositorio 2
kpi_2 = siniestros.copy()

In [49]:
kpi_2.columns

Index(['Id', 'Fecha', 'Año', 'Mes', 'Día', 'Día semana', 'Hora completa',
       'Hora', 'Num víctimas', 'Participantes', 'Rol', 'Acusado', 'Victima',
       'Sexo', 'Edad', 'Rango etario', 'Fecha fallecimiento',
       'Lugar del hecho', 'Tipo de calle', 'Calle', 'Cruce',
       'Dirección normalizada', 'Comuna', 'Xy (caba)', 'Pos x', 'Pos y'],
      dtype='object')

In [50]:
kpi_2 = kpi_2[kpi_2["Victima"] == "MOTO"]

In [51]:
kpi_2 = kpi_2.groupby(["Año"])["Num víctimas"].sum().reset_index(name="Total año victimas")

In [52]:
kpi_2["AÑO_ANTERIOR"] = kpi_2["Total año victimas"].shift(periods=1, fill_value=0)

In [53]:
kpi_2["TASA_HOMICIDIOS"] = (kpi_2["Total año victimas"]/3120612) * 100000
kpi_2["TASA_AÑO_ANTERIOR"] = (kpi_2["AÑO_ANTERIOR"]/3120612) * 100000

In [54]:
#kpi_2["VARIACION"] = (kpi_2["Num víctimas"] - kpi_2["AÑO_ANTERIOR"]) / kpi_2["AÑO_ANTERIOR"] * 100
kpi_2["VARIACION"] = (kpi_2["TASA_HOMICIDIOS"] - kpi_2["TASA_AÑO_ANTERIOR"]) / kpi_2["TASA_AÑO_ANTERIOR"] * 100

In [55]:
kpi_2

,Año,Total año victimas,AÑO_ANTERIOR,TASA_HOMICIDIOS,TASA_AÑO_ANTERIOR,VARIACION
0,2016,67,0,2.147015,0.000000,inf
1,2017,62,67,1.986790,2.147015,-7.462687
2,2018,61,62,1.954745,1.986790,-1.612903
3,2019,50,61,1.602250,1.954745,-18.032787
4,2020,30,50,0.961350,1.602250,-40.000000
5,2021,46,30,1.474070,0.961350,53.333333

In [56]:
kpi_2.to_csv("CSV/kpi_2.csv", index=False)

# KPI 3

KPI 3: Reducir en un 5% la cantidad de accidentes mortales de peatones en el último año respecto al año ante

In [57]:
kpi_3 = siniestros.copy()

In [58]:
kpi_3 = kpi_3[kpi_3["Victima"] == "PEATON"]

In [59]:
kpi_3 = kpi_3.groupby(["Año"])["Num víctimas"].sum().reset_index(name="Total victima peaton")

In [60]:
kpi_3["AÑO_ANTERIOR"] = kpi_3["Total victima peaton"].shift(periods=1, fill_value=0)

In [61]:
kpi_3["TASA_HOMICIDIOS"] = (kpi_3["Total victima peaton"]/3120612) * 100000
kpi_3["TASA_AÑO_ANTERIOR"] = (kpi_3["AÑO_ANTERIOR"]/3120612) * 100000

In [62]:
kpi_3["VARIACION"] = (kpi_3["TASA_HOMICIDIOS"] - kpi_3["TASA_AÑO_ANTERIOR"]) / kpi_3["TASA_AÑO_ANTERIOR"] * 100

In [63]:
kpi_3

,Año,Total victima peaton,AÑO_ANTERIOR,TASA_HOMICIDIOS,TASA_AÑO_ANTERIOR,VARIACION
0,2016,49,0,1.570205,0.000000,inf
1,2017,49,49,1.570205,1.570205,0.000000
2,2018,68,49,2.179060,1.570205,38.775510
3,2019,37,68,1.185665,2.179060,-45.588235
4,2020,34,37,1.089530,1.185665,-8.108108
5,2021,33,34,1.057485,1.089530,-2.941176

In [64]:
kpi_3.to_csv("CSV/kpi_3.csv", index=False)