In [15]:
#Librerias
import pandas as pd
import numpy as np

In [2]:
#Leer archivos .xlsx
homicidios_hechos = pd.read_excel("data/homicidios.xlsx", sheet_name="HECHOS")
homicidios_victimas = pd.read_excel("data/homicidios.xlsx", sheet_name="VICTIMAS")

                                                HOMICIDIOS_HECHOS

In [5]:
homicidios_hechos

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691,2021-0093,1,2021-12-13,2021,12,13,17:10:00,17,AV. RIESTRA Y MOM,AVENIDA,...,NaN,MOM,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
692,2021-0094,1,2021-12-20,2021,12,20,01:10:00,1,AU DELLEPIANE Y LACARRA,AUTOPISTA,...,NaN,LACARRA AV.,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
693,2021-0095,1,2021-12-30,2021,12,30,00:43:00,0,AV. GAONA Y TERRADA,AVENIDA,...,NaN,TERRADA,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
694,2021-0096,1,2021-12-15,2021,12,15,10:30:00,10,AV. EVA PERON 4071,AVENIDA,...,4071.0,NaN,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS
695,2021-0097,1,2021-11-18,2021,11,18,06:10:00,6,PADRE CARLOS MUJICA 709,CALLE,...,709.0,NaN,PADRE CARLOS MUGICA 709,1,Point (107664.16647795 104708.63962087),-58.37976155,-34.58679619,BICICLETA-AUTO,BICICLETA,AUTO

In [4]:
#Informacion y ver que tal los nulos
homicidios_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

In [6]:
#Ver los nulos
homicidios_hechos.isnull().sum()

ID                         0
N_VICTIMAS                 0
FECHA                      0
AAAA                       0
MM                         0
DD                         0
HORA                       0
HH                         0
LUGAR_DEL_HECHO            0
TIPO_DE_CALLE              0
Calle                      1
Altura                   567
Cruce                    171
Dirección Normalizada      8
COMUNA                     0
XY (CABA)                  0
pos x                      0
pos y                      0
PARTICIPANTES              0
VICTIMA                    0
ACUSADO                    0
dtype: int64

In [7]:
# Se elimina la columna "Altura"
homicidios_hechos= homicidios_hechos.drop("Altura", axis=1)
homicidios_hechos.columns

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO'],
      dtype='object')

In [8]:
#Duplicados?
homicidios_hechos.duplicated().sum()

0

In [9]:
# Cambio el dato horas  a tipo de dato numerico y luego a entero 
homicidios_hechos["HH"] = pd.to_numeric(homicidios_hechos ["HH"], errors="coerce")
homicidios_hechos["HH"] = homicidios_hechos["HH"].astype("Int64")

In [10]:
#Cambio la primer letra a mayúscula
homicidios_hechos.columns = [x.capitalize() for x in homicidios_hechos.columns]

                    HOMICIDIOS_VICTIMAS

In [12]:
homicidios_victimas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717 entries, 0 to 716
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_hecho             717 non-null    object
 1   FECHA                717 non-null    datetime64[ns]
 2   AAAA                 717 non-null    int64
 3   MM                   717 non-null    int64
 4   DD                   717 non-null    int64
 5   ROL                  717 non-null    object
 6   VICTIMA              717 non-null    object
 7   SEXO                 717 non-null    object
 8   EDAD                 717 non-null    object
 9   FECHA_FALLECIMIENTO  717 non-null    object
dtypes: datetime64[ns](1), int64(3), object(6)
memory usage: 56.1+ KB

In [13]:
#Cambio la columna a tipo datetime
homicidios_victimas["FECHA_FALLECIMIENTO"] = pd.to_datetime(homicidios_victimas["FECHA_FALLECIMIENTO"], format='%Y-%m-%d', errors='coerce')

In [14]:
#Cambio la columna edad a numerico y luego a tipo entero
homicidios_victimas ["EDAD"] = pd.to_numeric(homicidios_victimas["EDAD"], errors="coerce")
homicidios_victimas ["EDAD"] = homicidios_victimas["EDAD"].astype("Int64")

In [16]:
#Utilizo Numpy para reemplazar por NaN los sin datos o vacios y luego paso a float para que cuando quiera aplicar estadisticas no tenga errores debido a esos datos
homicidios_victimas["EDAD"] = homicidios_victimas["EDAD"].replace([" ","SD"], np.nan)

In [18]:
homicidios_victimas["EDAD"] = homicidios_victimas["EDAD"].fillna(0.0)

In [19]:
#Controlo los datos de la columna
homicidios_victimas ["EDAD"].unique()

<IntegerArray>
[19, 70, 30, 18, 29, 22, 16, 59, 65, 34, 41, 50, 38, 21, 52, 36, 20, 54,  0,
 56, 24, 78, 79, 26, 57, 37, 58, 23, 60, 42, 53, 51, 40, 87, 76, 75, 35, 80,
 43, 45, 67, 27, 55, 49, 81, 25, 33, 46, 83, 39, 28,  7, 48,  4, 82, 32, 17,
 47, 61, 10, 95, 73, 84, 66, 85,  1, 15, 13, 77, 44, 31, 62, 74, 71, 11, 86,
 69, 72, 12, 63, 92, 68, 91, 64,  5, 88]
Length: 86, dtype: Int64

In [20]:
# Se utiliza la función `pd.cut()`, que permite agrupar valores numéricos en intervalos o categorías


# Definir los límites de los rangos etarios y las etiquetas
bins = [0, 20, 40, 60, 80, 100]
labels = ['Menos de 20', ' Entre 21- 40', 'Entre 41-60', 'Entre 61-80', 'Más de 80']

# Utilizar pd.cut() para crear la columna de rango etario
homicidios_victimas['Rango_etario'] = pd.cut(homicidios_victimas['EDAD'], bins=bins, labels=labels, right=False)

homicidios_victimas.head(3)

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO,Rango_etario
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01,Menos de 20
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02,Entre 61-80
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03,Entre 21- 40

In [22]:
# Se coloca la primera en mayúscula
homicidios_victimas.columns = [x.capitalize() for x in homicidios_victimas.columns]
homicidios_victimas.columns

Index(['Id_hecho', 'Fecha', 'Aaaa', 'Mm', 'Dd', 'Rol', 'Victima', 'Sexo',
       'Edad', 'Fecha_fallecimiento', 'Rango_etario'],
      dtype='object')

In [32]:
#Renombro la columna para juntarlas
homicidios_victimas = homicidios_victimas.rename(columns={'Id_hecho': 'Id'})

In [34]:
siniestros= homicidios_victimas.merge(homicidios_hechos, on="Id", how="left")
siniestros.columns

Index(['Id', 'Fecha_x', 'Aaaa_x', 'Mm_x', 'Dd_x', 'Rol', 'Victima_x', 'Sexo',
       'Edad', 'Fecha_fallecimiento', 'Rango_etario', 'N_victimas', 'Fecha_y',
       'Aaaa_y', 'Mm_y', 'Dd_y', 'Hora', 'Hh', 'Lugar_del_hecho',
       'Tipo_de_calle', 'Calle', 'Cruce', 'Dirección normalizada', 'Comuna',
       'Xy (caba)', 'Pos x', 'Pos y', 'Participantes', 'Victima_y', 'Acusado'],
      dtype='object')

In [35]:
siniestros.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 717 entries, 0 to 716
Data columns (total 30 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     717 non-null    object
 1   Fecha_x                717 non-null    datetime64[ns]
 2   Aaaa_x                 717 non-null    int64
 3   Mm_x                   717 non-null    int64
 4   Dd_x                   717 non-null    int64
 5   Rol                    717 non-null    object
 6   Victima_x              717 non-null    object
 7   Sexo                   717 non-null    object
 8   Edad                   717 non-null    Int64
 9   Fecha_fallecimiento    648 non-null    datetime64[ns]
 10  Rango_etario           717 non-null    category
 11  N_victimas             717 non-null    int64
 12  Fecha_y                717 non-null    datetime64[ns]
 13  Aaaa_y                 717 non-null    int64
 14  Mm_y                   717 non-null    int64
 15  Dd_y                   717 non-null    int64
 16  Hora                   717 non-null    object
 17  Hh                     716 non-null    Int64
 18  Lugar_del_hecho        717 non-null    object
 19  Tipo_de_calle          717 non-null    object
 20  Calle                  716 non-null    object
 21  Cruce                  540 non-null    object
 22  Dirección normalizada  708 non-null    object
 23  Comuna                 717 non-null    int64
 24  Xy (caba)              717 non-null    object
 25  Pos x                  717 non-null    object
 26  Pos y                  717 non-null    object
 27  Participantes          717 non-null    object
 28  Victima_y              717 non-null    object
 29  Acusado                717 non-null    object
dtypes: Int64(2), category(1), datetime64[ns](3), int64(8), object(16)
memory usage: 170.4+ KB

In [37]:
#N_victimas
siniestros ["N_victimas"] = siniestros ["N_victimas"].fillna(0.0)
siniestros ["N_victimas"] = siniestros ["N_victimas"].astype ("Int64")

In [39]:
siniestros["N_victimas"].unique()

<IntegerArray>
[1, 2, 3]
Length: 3, dtype: Int64

In [40]:
#Años
siniestros ["Aaaa_x"]= siniestros ["Aaaa_x"].astype ("Int64")
siniestros["Aaaa_x"].unique()

<IntegerArray>
[2016, 2017, 2018, 2019, 2020, 2021]
Length: 6, dtype: Int64

In [41]:
#Mes
siniestros ["Mm_x"]= siniestros ["Mm_x"].astype ("Int64")
siniestros["Mm_x"].unique()

<IntegerArray>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Length: 12, dtype: Int64

In [42]:
#Dias
siniestros ["Dd_x"]= siniestros ["Dd_x"].astype ("Int64")
siniestros["Dd_x"].unique()

<IntegerArray>
[ 1,  2,  3, 10, 21, 24, 29,  8, 14, 15, 17, 28,  4, 12, 13, 19, 23, 30, 31,
 11, 20, 22, 25, 26, 16, 18, 27,  7,  9,  5,  6]
Length: 31, dtype: Int64

In [43]:
siniestros.describe()

,Aaaa_x,Mm_x,Dd_x,Edad,N_victimas,Aaaa_y,Mm_y,Dd_y,Hh,Comuna
count,717.000000,717.000000,717.000000,717.000000,717.000000,717.000000,717.000000,717.000000,716.000000,717.000000
mean,2018.174338,6.688982,15.960948,39.050209,1.061367,2018.174338,6.688982,15.953975,11.554469,7.430962
std,1.672655,3.575140,8.683358,22.010669,0.257024,1.672655,3.575140,8.674876,6.700055,4.385067
min,2016.000000,1.000000,1.000000,0.000000,1.000000,2016.000000,1.000000,1.000000,0.000000,0.000000
25%,2017.000000,4.000000,9.000000,24.000000,1.000000,2017.000000,4.000000,9.000000,6.000000,4.000000
50%,2018.000000,7.000000,16.000000,35.000000,1.000000,2018.000000,7.000000,16.000000,11.000000,8.000000
75%,2019.000000,10.000000,23.000000,55.000000,1.000000,2019.000000,10.000000,23.000000,17.000000,11.000000
max,2021.000000,12.000000,31.000000,95.000000,3.000000,2021.000000,12.000000,31.000000,23.000000,15.000000

In [44]:
siniestros.columns

Index(['Id', 'Fecha_x', 'Aaaa_x', 'Mm_x', 'Dd_x', 'Rol', 'Victima_x', 'Sexo',
       'Edad', 'Fecha_fallecimiento', 'Rango_etario', 'N_victimas', 'Fecha_y',
       'Aaaa_y', 'Mm_y', 'Dd_y', 'Hora', 'Hh', 'Lugar_del_hecho',
       'Tipo_de_calle', 'Calle', 'Cruce', 'Dirección normalizada', 'Comuna',
       'Xy (caba)', 'Pos x', 'Pos y', 'Participantes', 'Victima_y', 'Acusado'],
      dtype='object')

In [46]:
#Creo una lista con el orden 
nuevo_orden=["Id", "Fecha_x", "Aaaa_x", "Mm_x", "Dd_x", "Hora", "N_victimas", "Participantes", "Rol", "Acusado", "Victima_x", "Sexo", "Edad", "Rango_etario", "Fecha_fallecimiento", "Lugar_del_hecho", "Tipo_de_calle", "Calle", "Cruce", "Dirección normalizada", "Comuna", "Xy (caba)", "Pos x", "Pos y"]

#Reorganizo el dataframe untilizando la lista y asignandola nuevamente aldataframe siniestros
siniestros_limpio = siniestros[nuevo_orden]
siniestros_limpio.columns

Index(['Id', 'Fecha_x', 'Aaaa_x', 'Mm_x', 'Dd_x', 'Hora', 'N_victimas',
       'Participantes', 'Rol', 'Acusado', 'Victima_x', 'Sexo', 'Edad',
       'Rango_etario', 'Fecha_fallecimiento', 'Lugar_del_hecho',
       'Tipo_de_calle', 'Calle', 'Cruce', 'Dirección normalizada', 'Comuna',
       'Xy (caba)', 'Pos x', 'Pos y'],
      dtype='object')

In [47]:
siniestros_limpio.head(3)

,Id,Fecha_x,Aaaa_x,Mm_x,Dd_x,Hora,N_victimas,Participantes,Rol,Acusado,...,Fecha_fallecimiento,Lugar_del_hecho,Tipo_de_calle,Calle,Cruce,Dirección normalizada,Comuna,Xy (caba),Pos x,Pos y
0,2016-0001,2016-01-01,2016,1,1,04:00:00,1,MOTO-AUTO,CONDUCTOR,AUTO,...,2016-01-01,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022
1,2016-0002,2016-01-02,2016,1,2,01:15:00,1,AUTO-PASAJEROS,CONDUCTOR,PASAJEROS,...,2016-01-02,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709
2,2016-0003,2016-01-03,2016,1,3,07:00:00,1,MOTO-AUTO,CONDUCTOR,AUTO,...,2016-01-03,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362

In [51]:
siniestros_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 717 entries, 0 to 716
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Id                     717 non-null    object
 1   Fecha_x                717 non-null    object
 2   Aaaa_x                 717 non-null    Int64
 3   Mm_x                   717 non-null    Int64
 4   Dd_x                   717 non-null    Int64
 5   Hora                   717 non-null    object
 6   N_victimas             717 non-null    Int64
 7   Participantes          717 non-null    object
 8   Rol                    717 non-null    object
 9   Acusado                717 non-null    object
 10  Victima_x              717 non-null    object
 11  Sexo                   717 non-null    object
 12  Edad                   717 non-null    Int64
 13  Rango_etario           717 non-null    category
 14  Fecha_fallecimiento    648 non-null    datetime64[ns]
 15  Lugar_del_hecho        717 non-null    object
 16  Tipo_de_calle          717 non-null    object
 17  Calle                  716 non-null    object
 18  Cruce                  540 non-null    object
 19  Dirección normalizada  708 non-null    object
 20  Comuna                 717 non-null    int64
 21  Xy (caba)              717 non-null    object
 22  Pos x                  717 non-null    object
 23  Pos y                  717 non-null    object
dtypes: Int64(5), category(1), datetime64[ns](1), int64(1), object(16)
memory usage: 138.8+ KB

In [50]:
siniestros_limpio["Fecha_x"]=siniestros_limpio["Fecha_x"].dt.date

C:\Users\nahue\AppData\Local\Temp\ipykernel_2164\635067921.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  siniestros_limpio["Fecha_x"]=siniestros_limpio["Fecha_x"].dt.date

In [ ]:
siniestros_limpio.to_csv("CSV/siniestos.csv", index=False)